
*{
    font-family: 'Slabo 27px', serif;
}

body{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
   overflow: visible;
}

ul li .sociales{
    margin: auto;
    width: 100%;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
}



header{
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-flex;
    background-color: #161313;
    
}



.seccion1{
    width: 33.3%;
    margin: auto;
}

.seccion2{
    width: 33.3%;
    margin: auto;
    text-align: center;
    
}

.seccion5{
    width: 20%;
    
}

.seccion5 img{
    width: 100%;
}

.seccion2 img{
    width: 100%;
}
.seccion3{
    width: 33.3%;
    margin-top: -10px;
    
    text-align: center;
    max-width: 100%;
    float: left;
    
}



.seccion3 .widget-fecha p{
    display: inline-flex;
    color: white;

}


.seccion3 .container-fecha{
    overflow: hidden;
    margin-top: -50px;
}

/* Categorias */

 ul #titulares:hover{
    color:rgb(45, 13, 224);
    cursor: pointer;
}

 ul #arte:hover{
    color:rgb(13, 224, 76);
    cursor: pointer;
}

 ul #region:hover{
    color:rgb(224, 210, 13);
    cursor: pointer;
}

 ul #escuela:hover{
    color:rgb(224, 13, 118);
    cursor: pointer;
}
 ul #palabrerios:hover{
    color:rgb(224, 132, 13);
    cursor: pointer;
}
 ul #deportes:hover{
    color:rgb(224, 13, 31);
    cursor: pointer;
}

 ul #tecno:hover{
    color:rgb(14, 32, 5);
    cursor: pointer;
}

 ul #fm:hover{
    color:rgb(13, 224, 213);
    cursor: pointer;
}


.menu {
    margin: 0;
    list-style: none;
    padding:0;
    display: flex; 
    justify-content: center;
    
}

.menu li a{
    display: block;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    font-size:1em;
}



.menu li a:hover{
    color: black;
    
}
nav label{
    display: none;
    color: white;
    background-color: transparent;
    border-style: none;
    padding-left: 40px;
    font-size: 22px;
    
}
nav{
    background-color: #A42323;
}

nav label:hover{
    cursor: pointer;
}


#btn-menu{
    display: none;
    
    font-size: 30px;
}

/* Categorias */


/* Boton Buscar */


.search-box{
    position: absolute;
    top:25%;
    left: 88.3%;
    transform: translate(-50%, -50%);
    background:#161313;
    height: 20px;
    padding: 8px;
    transition: 0.4s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    

}

.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
    

}

.search-box:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}


.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 0px;
   
}


.publicidad{
    width: 90%;
    margin: auto;
}

.adsbygoogle{
    margin: auto;
    width: 1200px;
    height: 232px;
}

/* Fin Boton Buscar */

@media(max-width:1280px){
    nav label{
        display: inline-block;
        
    }
    
    
    .menu{
        position: absolute;
         background-color: rgba(0, 0, 0, .8);
        width: 70%;
        z-index: 30;
        flex-direction: column;
        padding-top: 10px;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu li{
        box-shadow: 3px 0 rgba(255, 255, 255, .2) inset;
        padding-left: 2em;
        margin-bottom: 2px;
        /*outline: 1px solid green;*/
        -webkit-transition: all .5s;
        /* Safari */
        -o-transition: all .5s;
        transition: all .5s;
        
    }
    
    #btn-menu:checked ~ .menu {
        
        margin-left: 0;
    
        
    }
}

@media only screen and (max-width: 320px){
    .search-box{
        
    }
}

@media only screen and (max-width: 480px){
    .redes-sociales-header{
        position: absolute;
        margin-left: 80%;
        margin-top: -33px;
    }

    #icon{
        font-size: 20px;
        padding: -20px;
        width: 10px;
    }


    .search-box{display: none;
    }

    .search-box input {
        color: black;
    }
    .search-box:hover{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: white;
    }    
}

@media(min-width:900px){
    .redes-sociales-header{
        display: none;
    }
}

@media(max-width:900px){
    header .seccion1{
        display: none;
    }
    header .seccion2{
        width:90%;
    }
    header .seccion3{
        display: none;
    }

    .secciones{
        display: none;
    }
    
}

