.novena-seccion{
    width: 90%;
    margin: auto;
    word-wrap: break-word;
    overflow: hidden;
}

.novena-seccion .titulo-novena{
    background-color: yellow;
    color: black;
    
}

.contenido-productos{
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.contenido-productos ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
    margin: auto;
}

.contenido-productos ul li{
    width: 23.3%;
    background-color: rgb(255, 255, 255);
    border-left: 10px solid rgb(230, 216, 216);
    overflow: hidden;
}

.contenido-productos ul li img{
    width: 100%;
    height: 200px;
}


.contenido-productos ul li a{
    text-decoration: none;
    color:  rgb(37, 25, 25);
}

.contenido-productos ul li .texto{
    
    width: 90%;
    margin: auto;
}


@media(max-width:690px){
    .novena-seccion{
        text-align: center;
        width: 100%;
        margin: auto;
        display: inline-block;
        
        
    }

    .novena-seccion .contenido-productos ul{
        overflow: hidden;
        width: 100%;
        list-style: none;
        box-sizing: border-box;
        flex-wrap: wrap;
        display: inline-block;
        z-index: 20;
        margin: auto;
    }

    .novena-seccion .contenido-productos ul li{
        width: 90%;
        background-color: white;
        overflow: hidden;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.199) ;
        text-align: justify;
    }

    .novena-seccion .contenido-productos ul li h2{
        width: 80%;
        margin: auto;
        font-size: 1.2em;
    }
}